---
import LayoutHome from '../layouts/LayoutHome.astro'
import Header from '../components/Header.astro'
import Main from '../components/Main.astro'
---


<LayoutHome>
	<Header></Header>
	<Main></Main>
</LayoutHome>