---
---

<header class="fixed top-0 w-full z-10">
  <nav
    class="h-24 px-4 md:px-10 xl:px-8 font-mono flex justify-between items-center bg-neutral-700"
  >
    
      <div class="flex items-center">
        <a href="/">
          
            <div class="w-9 h-9 flex justify-center items-center">
              <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path d="M480-960c-16.842 0-30.881 5.608-42.109 16.836L16.836-522.109C5.608-510.881 0-496.842 0-480s5.608 30.881 16.836 42.109L437.891-16.836C449.119-5.608 463.158 0 480 0s30.881-5.608 42.109-16.836l421.055-421.055C954.392-449.119 960-463.157 960-480s-5.608-30.881-16.836-42.109L522.109-943.164C510.881-954.392 496.843-960 480-960zM359.102-681.875c15.337 0 30.709 5.865 42.461 17.617a59.86 59.86 0 0 1 0 84.844l-98.984 99.023 99.805 99.805a59.86 59.86 0 0 1 0 84.844c-23.504 23.504-61.379 23.504-84.883 0L176.094-437.148c-.147-.147-.168-.36-.312-.508s-.361-.166-.508-.313c-23.504-23.504-23.504-61.379 0-84.883L316.68-664.258c11.752-11.752 27.085-17.617 42.422-17.617zm241.797.82c15.337 0 30.67 5.865 42.422 17.617l140.586 140.586.82.82c23.504 23.504 23.504 61.379 0 84.883-1.443 1.443-3.338 1.976-4.883 3.242L642.5-296.562c-23.504 23.504-61.379 23.504-84.883 0a59.86 59.86 0 0 1 0-84.844l99.023-98.984-98.203-98.203a59.86 59.86 0 0 1 0-84.844c11.752-11.752 27.124-17.617 42.461-17.617z" fill="#fff"/></svg>
            </div>
          </a
        >

       
          <span class="pl-2 text-2xl">fm-DOCS</span>
       
       
          <span class="pl-1 text-orange-500 font-bold text-xl">&#123;js&#125;</span>
       
      </div>
    

    <div class="hidden sm:inline-block">
      <div class="flex flex-row items-center">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" height="36" viewBox="0 -960 960 960" width="36" ><path d="M360-840h480v720H120v-480z" fill="#f7df1e"/><path d="M459.455-513.57v215.558c0 33.08-12.522 41.585-34.286 41.585-22.768 0-38.571-14.196-49.018-32.612l-53.839 32.612c15.603 33.013 53.839 68.571 106.875 68.571 58.661 0 98.839-31.205 98.839-99.71V-513.57zm213.482 0c-58.393 0-95.826 37.366-95.826 86.451 0 53.237 31.406 78.415 78.616 98.504l16.339 7.031c29.799 13.058 44.531 21.027 44.531 43.46 0 18.683-14.196 32.21-41.317 32.21-32.277 0-47.545-21.897-61.54-44.799l-51.429 34.286c19.219 37.969 53.705 68.571 114.442 68.571 62.143 0 108.415-32.277 108.415-91.138 0-54.643-31.339-78.951-86.987-102.79l-16.339-6.964c-28.058-12.187-40.245-20.089-40.245-39.71 0-15.871 12.188-28.058 31.339-28.058 18.817 0 30.87 7.969 42.054 28.058l50.96-32.679c-21.495-37.969-51.429-52.433-93.013-52.433z"/><path d="M360-840v240H120z" fill="#fc0"/></svg>
        </span>
          <span>&#123;javascript&#125;</span>
      </div>
      
    </div>

    <div class="inline-block">
      <span class="hidden sm:inline">controls</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="36"
        viewBox="0 -960 960 960"
        width="36"
        fill="#f97316"
        class="sm:hidden"
        ><path
          d="M150-240q-12.75 0-21.375-8.675-8.625-8.676-8.625-21.5 0-12.825 8.625-21.325T150-300h660q12.75 0 21.375 8.675 8.625 8.676 8.625 21.5 0 12.825-8.625 21.325T810-240H150Zm0-210q-12.75 0-21.375-8.675-8.625-8.676-8.625-21.5 0-12.825 8.625-21.325T150-510h660q12.75 0 21.375 8.675 8.625 8.676 8.625 21.5 0 12.825-8.625 21.325T810-450H150Zm0-210q-12.75 0-21.375-8.675-8.625-8.676-8.625-21.5 0-12.825 8.625-21.325T150-720h660q12.75 0 21.375 8.675 8.625 8.676 8.625 21.5 0 12.825-8.625 21.325T810-660H150Z"
        ></path></svg
      >
    </div>
  </nav>
</header>
